{%extends 'base.html'%} {%block title%} Vacation {%endblock%} {%block content%}
<link href="../static/assets/css/vacation.css" rel="stylesheet" />
<script>
  $(document).ready(function () {
 // Get the value of Acc Date input field from base.html
 var accDate = $("#Acc_Date_Input").val();
    // Set the value of the From Date input field to the Acc Date
    $("#dateOfVacation").val(accDate);

    // // Set default date to today
    // var today = new Date().toISOString().split("T")[0];
    // $("#dateOfVacation").val(today);

    // Set default time to current time
    var now = new Date();
    var hours = String(now.getHours()).padStart(2, "0");
    var minutes = String(now.getMinutes()).padStart(2, "0");
    var currentTime = hours + ":" + minutes;
    $("#timeOfVacation").val(currentTime);
    // Function to move to the next input field on pressing Enter
    $(".form-control").on("keydown", function (event) {
      if (event.key === "Enter") {
        var currentIndex = $(".form-control").index(this); // Get index of current input field
        var nextIndex = currentIndex + 1; // Calculate index of next input field
        $(".form-control").eq(nextIndex).focus(); // Focus on the next input field
        return false; // Prevent form submission only when Enter key is pressed
      }
    });

    // Event listener for the last input field to submit the form on Enter
    $("#remarks").on("keydown", function (event) {
      if (event.key === "Enter") {
        $("#vacationForm").submit(); // Submit the form
      }
    });

    $("#roomNumber").on("blur", function () {
      var roomNumber = $(this).val();
      $.ajax({
        url: "/vacation_room/" + roomNumber,
        method: "GET",
        success: function (response) {
          if (response.status) {
            console.log(response.result);
            $("#billNumber").val(response.result.bill_id);
          } else {
            alert("The room is not occupied");
          }
        },
        error: function (xhr, status, error) {
          console.error(error);
        },
      });
    });
    $("#billNumber").on("blur", function () {
      var billNumber = $(this).val();
      $.ajax({
        url: "/vacation_bill/" + billNumber,
        method: "GET",
        success: function (response) {
          if (response.status) {
            console.log(response.result);
            $("#roomNumber").val(response.result.room_number);
          } else {
            alert("This bill is vacated on "+ response.closed);
          }
          
        },
        error: function (xhr, status, error) {
          console.error(error);
        },
      });
    });
  });
</script>

</script>
<article>
  <div class="grid">
    {% for message in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}

    <form
      id="vacationForm"
      action="{{url_for('vacation')}}"
      method="post"
      class="grid-form"
    >
    <div>
        <label for="dateOfVacation">Date:</label>
        <input
          type="date"
          class="form-control"
          id="dateOfVacation"
          name="dateOfVacation"
          readonly
        />
      </div>
      <div class="form-group" style="grid-column: span 1">
        <label for="timeOfVacation">Time:</label>
        <input
          type="time"
          class="form-control"
          id="timeOfVacation"
          name="timeOfVacation"
          readonly
        />
      </div>
      <div class="form-group" style="grid-column: span 1">
        <label for="roomNumber">Room Number:</label>
        <input
          type="text"
          class="form-control"
          id="roomNumber"
          name="roomNumber"
          oninput="this.value = this.value.toUpperCase()"
        />
      </div>

      <div class="form-group" style="grid-column: span 1">
        <label for="billNumber">Bill Number:</label>
        <input
          type="text"
          class="form-control"
          id="billNumber"
          name="billNumber"
        />
      </div>
      <button type="submit" class="btn btn-primary">Vacate</button>
    </form>
  </div>
</article>

{%endblock%}
