article {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 100%; /* Adjust the max-width as needed */
  margin: auto;
  background-color: rgba(255, 255, 255, 0.493);
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr)); /* Responsive grid */
  gap: 15px;
  max-width: 600px;
  margin: auto;
}

/* Adjust styles for smaller screens */
@media (max-width: 750px) {
  .grid-form {
    grid-template-columns: 2fr; /* Single column for smaller screens */
  }
}
